core/src/main/resources/scejsuite.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="suite" type="Suite"/>
    <xs:complexType name="Test">
        <xs:sequence>
            <xs:element type="Specification" name="specification" minOccurs="1" maxOccurs="1"/>
            <xs:element type="Exceptions" name="exceptions" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="defaultTestClass"/>
        <xs:attribute type="xs:string" name="substitutionDictionary"/>
    </xs:complexType>
    <xs:complexType name="Specification">
        <xs:sequence>
            <xs:element type="Includes" name="includes" minOccurs="0" maxOccurs="1"/>
            <xs:element type="Excludes" name="excludes" minOccurs="0" maxOccurs="1"/>
            <xs:element type="Exceptions" name="exceptions" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="location" use="required"/>
        <xs:attribute type="xs:string" name="testClass"/>
    </xs:complexType>
    <xs:complexType name="Suite">
        <xs:sequence>
            <xs:element type="Test" name="test" maxOccurs="unbounded" minOccurs="1"/>
            <xs:element type="Exceptions" name="exceptions" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Excludes">
        <xs:sequence>
            <xs:element type="Specification" name="specification" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Includes">
        <xs:sequence>
            <xs:element type="Specification" name="specification" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Exceptions">
        <xs:sequence>
            <xs:element type="xs:string" name="exception" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>